body {
	width : 100%;
	height : 100%;
	border : 1px solid red;
	background: lightgrey;
}

 ul { 
    list-style-type:none; 
 } 

 header {
 	width: 100%;
 	height: 200px;
 	float: left;
 }

 nav {
 	float: left;
 }

 section {
 	clear : both;
 	margin-left: 300px;
 }

 #w_book1, #w_book2, #w_book3, #w_book4, #w_book5, #r_book1, #r_book2, #r_book3, #r_book4, #r_book5{
 	float: left;
 	margin-right: 10px;

 	width: 250px;
 	height: 300px;
 }

footer {
	width: 100%;
	height: 300px;
}



